@import url("./font.css");
*{
  box-sizing: border-box;
}
.header{
  margin: 0 auto;
}
.container{
  max-width: 1440px;
  padding: 0 5px;
  margin: 0 auto;
}
a{
  text-decoration: none;
  display: inline-block;
}
.header__inner{
  background-image: url("../images/header_bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 41px;
  padding-bottom: 71px;
  max-width: 1440px;
  text-align: center;
}
.header__inner-logo{
  padding-bottom: 318px;
}
.header__inner-logo img{  
  width: 100px;
  height: 23px;
}
.header__inner-text{
  padding-bottom: 220px;
}
.header-text__title{
  font-family: "BebasNeue";
  font-size: 60px;
  letter-spacing: 5.70937px;
  color: #fff;
}
.header-text__describe{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}
.header__inner-btn a{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  color: #fff;
  letter-spacing: 3.7px;
}
.menu{
  margin: 0 auto;
}
.menu__inner{
  background-color: #e6e6e6;
  padding: 22px 250px 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__logo img{
  width: 80px;
  height: 18px;
  cursor: pointer;
}
.menu__list-items{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;  
  margin: 0 auto;
  padding: 0;  
}
.menu__list-item + .menu__list-item{
  margin-left: 35px;
}
.menu__list-item a{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #48555b;
  letter-spacing: 1.1px;
  transition: all 0.3s ease;
}
.menu__list-item a:hover{
  color: #00a4e5;
}

